body {
    background-color: rgb(224, 224, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(16, 16, 17);
}

.navbar-brand,
.logo-img {
    position: relative;
    z-index: 2;
}


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.navbar-brand {
    color: rgb(16, 16, 17) !important;
}

.navbar-nav .nav-link {
    color: rgb(16, 16, 17) !important;
    font-size: 3.5rem !important;
    font-weight: 900 !important;
}


.navbar-nav .nav-link.active {
    color: rgb(16, 16, 17) !important;
    font-weight: 500 !important;
    text-decoration: underline;
}


.navbar-nav .nav-link:hover {
    color: rgb(16, 16, 17) !important;
}

.page-section {
    background-color: rgb(224, 224, 244);
    padding: 2rem;
    min-height: calc(100vh - 56px);
}


.welcome {
    font-size: 1.4rem;
    font-weight: 600;
}

p {
    font-size: 1.4rem;
    font-weight: 700;
}


#pets li {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.form-label {
    font-size: 2.8rem !important;
}

.form-control,
.form-select {
    font-size: 2.8rem !important;
    padding: 18px !important;
}

form button {
    font-size: 2.6rem !important;
    padding: 16px 24px !important;
}

table th,
table td {
    font-size: 2.8rem !important;
    padding: 18px !important;
}
